{% extends 'raw/_layout-raw' %}

{% set tmplName = 'Raw Template Index' %}

{% block content %}

  <aside class="menu">
    <p class="menu-label">
      Templates
    </p>
    <ul class="menu-list">
      <li><a href="/raw/home/" target="_blank">Home</a></li>
      <li><a href="/raw/product-categories/" target="_blank">Product Categories</a></li>
      <li><a href="/raw/products/" target="_blank">Products</a></li>
      <li><a href="/raw/video-categories/" target="_blank">Video Categories</a></li>
      <li><a href="/raw/videos/" target="_blank">Videos</a></li>
      <li><a href="/raw/capabilities-categories/" target="_blank">Capabilities Categories</a></li>
      <li><a href="/raw/capabilities/" target="_blank">Capabilities</a></li>
      <li><a href="/raw/company-pages/" target="_blank">Company Pages</a></li>      
      <li><a href="/raw/general-pages/" target="_blank">General Pages</a></li>      
      <li><a href="/raw/parts-and-service-pages/" target="_blank">Parts & Service Pages</a></li>
      <li><a href="/raw/thank-you-pages/" target="_blank">Thank You Pages</a></li>
      <li><a href="/raw/landing-pages/" target="_blank">Landing Pages</a></li>
      <li><a href="/raw/press-releases/" target="_blank">Press Releases</a></li>
      <li><a href="/raw/trade-shows/" target="_blank">Trade Shows</a></li> 
      <li><a href="/raw/parts-and-service/" target="_blank">Parts & Service</a></li>
      <li><a href="/raw/contact/" target="_blank">Contact</a></li>  
      <li><a href="/raw/globals/" target="_blank">Globals</a></li>  
      <li><a href="/raw/seo/" target="_blank">SEO</a></li>  
      <li><a href="/raw/counts/" target="_blank">Counts</a></li>
      <li><a href="/raw/assets/categories/" target="_blank">Assets: Categories</a></li>  
      <li><a href="/raw/assets/products/" target="_blank">Assets: Products</a></li> 
      <li><a href="/raw/assets/capabilities/" target="_blank">Assets: Capabilities</a></li> 
    </ul>
  </aside>

{% endblock %}
