{% extends 'raw/_layout-raw' %}

{% set tmplName = 'Raw Landing Pages' %}

{% block content %}

  <table class="table">
    <tbody class="content">
      <tr>
        <th>EID</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
      {% for entry in craft.entries.section('companyPages').all() %}
        <tr>
          <td>{{ entry.id }}</td>
          <td><a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a></td>
          <td>{{ entry.landingBody }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}

