parameters:
    level: 6
    paths:
        - src/modules
    scanFiles:
        - src/vendor/yiisoft/yii2/Yii.php
        - src/vendor/craftcms/cms/src/Craft.php
    stubFiles:
        - stubs/yii/BaseYii.stub
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
