{% extends '_layouts/default' %}

{% block main %}
  <div class="bg-gray-300 h-screen">
    <h1 class="text-xl mx-auto my-5 p-4 bg-blue-300 text-center max-w-screen-sm">Hello world!</h1>
  </div>
{% endblock %}

