{% extends '_layouts/default' %}

{% set pageType = 'general-page' %}

{% block content %}
  <main id="main">
    {% include '_includes/hero' with { element: entry } %}
    <section class="main-content-section">
      <div class="container">
        {%- include '_includes/breadcrumbs' -%}
        <div class="text-holder">
          {{ entry.pageOverview }}
        </div><!-- /.text-holder -->
      </div><!-- /.container -->
      {%- include '_includes/page-builder' -%}
      {% include '_includes/pagelinks' %}
    </section>
  </main>
{% endblock %}