{% extends "_layouts/skeleton" %}
{% block skeletonBody %}

  {% block header %}
    {{ partial('header') }}
  {% endblock %}

  <main id="main">
    {% block main %}
    {% endblock %}
  </main>

  {% block footer %}
    {{ partial('footer') }}
  {% endblock %}
  
{% endblock %}
