{% extends "_layouts/skeleton" %}
{% block skeletonBody %}

  {% block header %}
  
  {% endblock %}

  <main id="main">
    {% block main %}
    {% endblock %}
  </main>

  {% block footer %}
  
  {% endblock %}
  
{% endblock %}
