<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="referrer"
        content="origin-when-cross-origin" />

  {{ craft.twigpack.includeCssModule("/dist/app.css") }}
  {{ craft.twigpack.includeJsModule("/dist/app.js", true) }}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  {# AJAX in SVG sprite #}
  <script>
    (function(argument) {
      fetch('{{ craft.twigpack.getModuleUri("/dist/svg/sprite.svg") }}')
      .then((response) => response.text())
      .then((sprite) => {
        const div = document.createElement("div");
        div.setAttribute('hidden', '');
        div.setAttribute('aria-hidden', 'true');
        div.innerHTML = sprite;
        document.body.insertBefore(div, document.body.childNodes[0]);
      });
    })();
  </script>
</head>

<body class="{{ devMode ? 'debug' }}">
  <a href="#main" class="sr-only">Skip to main content</a>

  {% block skeletonBody %}
  {% endblock %}

</body>

</html>
