{% extends '_layouts/default' %}

{% set pageType = 'thank-you' %}

{% block content %}
  <main id="main">
		<section class="hero-section" style="padding-top: 1.875rem;">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-xl-8">
						<h1>{{ entry.title }}</h1>
					</div><!-- /.col-lg-9.col-xl-8 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>
    <section class="main-content-section">
      {%- include '_includes/page-builder' -%}
    </section>
  </main>
{% endblock %}