<style>
  .z-location { margin-bottom: 1rem; }
  .z-locations h2 { font-size: 1.5rem; }
  .z-locations h4 { font-size: 1.3rem; font-weight: 500; }
</style>

<div class="row z-locations">

  <div class="col-md-6">
    <h2>AMERICAS</h2>

    <h4 id="united-states">United States, Canada  &amp; South America</h4>

    <div class="z-location">
      ZALKIN AMERICAS<br>
      1965 Statham Drive<br>
      Statham, GA 30666<br>
      Tel: +1 706 549 3300<br>
      <a href="mailto:Zalkin.AmericasSupport@ProMachBuilt.com">Send an Email</a>
    </div><!-- /.z-location -->

    <div class="z-location">
      ZALKIN MEXICO<br>
      Calle Javier Solis # 502<br>
      Col. La Joya / Querétaro<br>
      Querétaro CP 76180 / Mexico<br>
      Tel: +52 (442)-242-1789<br>
      <a href="mailto:Zalkin.AmericasSupport@ProMachBuilt.com">Send an Email</a>
    </div><!-- /.z-location -->

    <div class="z-location">
      ZALKIN BRAZIL<br>
      Tel: +55 11 99330-1870<br>
      <a href="mailto:Edvino.Oestreicher@ProMachBuilt.com">Send an Email</a>
    </div><!-- /.z-location -->

  </div><!-- /.col-md-6 -->

  <div class="col-md-6">

    <h2>EUROPE, AFRICA, ASIA  &amp; OCEANIA</h2>

    <h4 id="france">France</h4>

    <div class="z-location">
      Parts & Service<br>
      3, Route André Zalkin<br>
      27390 Montreuil l’Argillé - France<br>
      Tél: +33 2 32 47 37 27<br>
      <a href="mailto:spares@zalkin.fr">Send an Email</a>
    </div><!-- /.z-location -->

    <h2>MIDDLE EAST</h2>

    <h4 id="united-arab-emirates">United Arab Emirates</h4>

    <div class="z-location">
      ZALKIN - PROMACH MIDDLE EAST<br>
      Office 309, Makateb 4, IMPZ<br>
      Dubai<br>
      UAE<br>
      Tel: +971 504 125 200<br>
      <a href="mailto:jhaddad@promachinc.com">Send an Email</a>
    </div><!-- /.z-location -->
    
  </div><!-- /.col-md-6 -->

</div><!-- /.row -->