/.env
/.idea
.DS_Store
.phpunit.result.cache

# FE build artefacts

web/dist/*
web/mix-manifest.json
web/hot
web/images/
web/fonts/
web/uploads/

# Craft
/storage/*
!/storage/rebrand

# Vendor / Packages
/vendor
